.offer {
    width: 70%;
    height: 200px;
    margin: 35px auto;
    display: flex;
    border: 5px;
}

.offer .img {
    width: 50%;
}

.offer .img img {
    width: 100%;
    height: 100%;
}

.offer .content {
    width: 50%;
    background-color: var(--header);
    color: var(--card-background);
    font-size: 1.8rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer .content h1 {
    width: 90%;
}

@media (min-width: 287px) and (max-width: 768px) {
    .offer {
        flex-direction: column;
        height: fit-content;
    }

    .offer .img,
    .offer .content {
        width: 100%;
        text-align: center;
    }
}