@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --card-background: #EDF2F4;
  --header: #023047;
  --hover: #E26D5C;
  --button: #A0C1B9;
}

body {
  font-family: 'Cairo', sans-serif;
  font-size: 1rem;
  background-image: url('https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -250px;
}